@import '../../base/style.scss';


.container input { /* Hide the browser's default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
    }

.category-section {
    display: flex;
    flex-direction: column;
    gap: $space2;
    }

.checkbox-container {
    border-radius: $space1;
    display: flex;
    }

.category-list-title-box
{   
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space2;   
    }

.checkbox{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s ease-in-out;
}
.container{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    

}
.container input ~ .checkmark{
    background-color: $neutral-bg-1-default;
    width: 100%;
    padding: $space2 $space3;
    border-radius: $space1;
    pointer-events: fill;
    cursor: pointer;
    padding-left: 40px;
    transition: background-color 0.2s ease-in-out;


}

.container input:hover ~ .checkmark {
    background-color: $neutral-bg-1-hover;
    transition: background-color 0.2s ease-in-out;
}


.container input:checked ~ .checkmark {

   outline: solid 2px $brand-border-1-default;
   transition: background-color 0.2s ease-in-out;

}
.plus{
    display: auto;
    width: 24px;

    path{
        fill: $neutral-fg-4-default;
    
    }
}
.container input:checked ~ .plus {
display: none;
}

.minus{
    display: none;
    path{
        fill: $neutral-fg-4-default;
    
    }
}
.container input:checked ~ .minus {
display: block;
}

.icon-count{
    color: #646464;
     position: absolute;
    right: 16px;
    top: -12px;
}
.folder-icon{
    position: absolute;
    left: 12px;
    top: -12px;
}
.section-title{
    display: flex;
    gap: 8px;
    align-items: center;
    color: $neutral-fg-6-default;
}
.divider
{
    border: 1px solid $neutral-border-9-default;

    width: 100%;
    height: 0px;
}

.rel-box{
    position: relative;
    width: 0px;
}