@import '../../base/style.scss';

.sub-header
{

    background-color: $neutral-bg-1-default;
    border-bottom: 1px solid $neutral-border-7-default;
    padding: $space2 $space6;
    box-sizing: border-box;
    width: 100%;

    @media screen and (max-width: 1200px){
        display: none;
        padding: $space2 $space4;
       
    }

}